.form {
    max-width: 500px;
    width: 450px;
    height: 450px;
}

.box {
    margin-left: 6%;
    padding-top: 50px;

}

#Email {
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.345);
}
#Name {
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.345);
    margin-bottom: 22px;
}

#password {
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.345);
}

.icon {
    margin-left: 185px;
    margin-top: 42px;

}

.para {
    position: absolute;
    top: 365px;
    left: 217px;
}

.header {
    position: absolute;
    left: 132px;
}

.btn {
    border: 2px solid red;
    background-color: rgba(255, 0, 0, 0.618);
    color: white;
    border-radius: 10px;
    width: 400px;
    margin-top: 30px
}

.btn:hover {
    background-color: red;
}

.head {
    top: 20px;
    left: 30px;
}
.create a{
    cursor: pointer;
    color: red;

}
@media (max-width :481px) {
    .btn{
        border: 2px solid red;
        background-color: rgba(255, 0, 0, 0.618);
        color: white;
        border-radius: 10px;
        width: 250px;
        margin-top: 30px
        
    }
    #Email{
        width: 250px;
        height: 50px;
        border-radius: 10px;
        border: 2px solid rgba(0, 0, 0, 0.345);
    }
    #password{
        width: 250px;
        height: 50px;
        border-radius: 10px;
            border: 2px solid rgba(0, 0, 0, 0.345);
    }
    #Name {
        width: 250px;
        height: 50px;
        border-radius: 10px;
        border: 2px solid rgba(0, 0, 0, 0.345);
        margin-bottom: 22px;
    }
    .form{
        width: 300px;
    }
}
