.dish {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px;
  row-gap: 40px;
  column-gap: 48px;
  top: 113px;
  left: 42px;
}
.imgcard img{
  width: 200px;
  height: 200px;
}
.body {
  padding: 30px;
}
.card {
  max-width: 200px;
  width: 200px;
  max-height: 300px;
  height: 300px;
  border-radius: 20px;
}
.imgcard {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.text {
  font-size: 18px;
  font-weight: 500;
}
.offer {
  background-color: #2874f0;
  width: 134px;
  margin-left: -15px;
  padding: 2px;
  color: white;
}
.rating {
  position: absolute;
    top: 256px;
    width: 46px;
    left: 154px;
    background-color: #267e3e;
    color: white;
    padding: 2px;
}
.signup {
      font-size: 22px;
    padding-right: 20px;
    cursor: pointer;
    font-weight: 300;
    color: lightgrey;
}
.brand {
  /* padding-left: 118px; */
  font-size: 40px;
  font-weight: 900;
  margin-top: -7px;
}

.login {
  font-size: 22px;
  padding-right: 20px;
  cursor: pointer;
  font-weight: 300;
  color: lightgrey;
}
.nav {
  display: flex;
  justify-content: space-between;
}

a {
  color: blueviolet;
  text-decoration: none;
}
.menu {
  border: none;
  background-color: white;
  font-size: x-large;
  font-weight: 500;
}
@media (max-width :481px) {
  
  .body{
    border: 2px solid pink;
  }
  .brand{
    font-size: 18px;
    font-weight: 900;
  margin-top: 0px;
    letter-spacing: 2px;
   
  
  }
  .inpsearch{
    position: relative;
    /* top: -4px; */
    width: 100%;
    left: 51px;}
  
  .input {
    width: 230px;
    height: 23px;
    border-radius: 29px;
    padding-left: 20px;
    border: 1px solid lightgrey;
}
.food_brand{
  height: 68px;
}
.userdetails{
  position: relative;
  top: -11px;
  left: -16px;
}
.userdetails button{
 padding: 0px;
 font-size: 12px;
}

.nav{
  display: flex;
  justify-content: space-between;

}
::placeholder {
font-size: 10px;
}
.dish {
  display: grid;
  grid-template-columns: 155px 155px 155px 155px;
  row-gap: 15px;
  column-gap: 0px;
  width: 100%;
  overflow: auto;
}
.img {
  width: 50px;
  height: 50px;
  border-radius: 64px;
  margin-left: 2px;
  margin-top: 2px;
}

.images {
  padding-right: 17px;
  width: 50px;
  border-radius: 80px;
  height: 50px;
  margin-right: 0px;
}
.name {
  padding-left: 12px;
  font-size: 11px;
  font-weight: 400;
  color: lightgrey;
}
.text-content {
  font-size: 16px;
  font-weight: 200;
  margin-left: 5px;
  padding-bottom: 10px;
}
.card {
  max-width: 130px;
  width: 130px;
  max-height: 215px;
  height: 176px;
  border-radius: 20px;
}
.offer {
  background-color: #2874f0;
  width: fit-content;
  margin-left: -15px;
  padding: 2px;
  color: white;
  font-size: 9px;
  position: relative;
  top: -17px;
  left: 0px;
}
.rating {
  position: relative;
  top: -50px;
  width: fit-content;
  left: 82px;
  background-color: #267e3e;
  color: white;
  padding: 2px;
  font-size: 9px;
}
.imgcard img{
  width: 130px;
  height: 130px;
}
.container{
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: 155px 155px 155px 155px;
  row-gap: 16px;
  column-gap: 0px;
  padding-left: 5px;
  width: 100%;
  overflow: auto;
}
.text {
  font-size: 11px;
  font-weight: 500;
}
.subtext {
  position: relative;
  top: -17px;
  left: 2px;
  font-size: 10px;
} 
 .signup {
  font-size: 16px;
  color: lightgrey;
  cursor: pointer;
  font-weight: 300;
}

  .login {
    font-size: 16px;
    padding-right: 9px;
    cursor: pointer;
    font-weight: 300;
    color: lightgrey;
  } 
  
}


