.nav {
  display: flex;
  justify-content: space-between;
}

.a {
  text-decoration: none;
  color: rgb(138, 43, 226);
}
.usernamecheck{
  position: relative;
  float: right;
}

.nav-container{
  width: 100%;
}

.brand {
  /* padding-right: 828px; */
  font-size: 40px;
  font-weight: 900;
  margin-top: -7px;
}

.login {
  font-size: 22px;
  padding-right: 20px;
  cursor: pointer;
  font-weight: 300;
  color: lightgrey;
}

.username {
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.signup {
  font-size: 22px;
  padding-right: 20px;
  color: lightgrey;
  cursor: pointer;
  font-weight: 300;
}
.login:hover,.signup:hover, .name:hover{
  color: rgb(133, 131, 131);
}

.input {
  width: 497px;
  height: 47px;
  border-radius: 29px;
  padding-left: 20px;
}
.input[type=search] {
  outline-offset: 0px;
}

.dish {
  width: 100%;
  display: flex;	
}
.items{
  display:flex;
	justify-content:center;
	flex-wrap:wrap;
}

.text-content {
  font-size: 40px;
  font-weight: 200;
  margin-left: 118px;
  padding-bottom: 10px;
}

.dish {

  margin-top: 6px;
  margin-left: 28px;
  display: flex;
  flex-direction: row;
  column-gap: 11px;
  overflow-x: auto;
  padding: 5px;
  height: 150px;
  width: 100%;
    overflow: auto;
}
.food_brand {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  width: 100%;
    overflow: auto;
  column-gap: 11px;


}
.imgcard  img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 200px;
  height: 200px;
}
.img {
  width: 110px;
  height: 110px;
  border-radius: 64px;
  margin-left: 2px;
  margin-top: 2px;
}
.images {
  padding-right: 17px;
  width: 119px;
  border-radius: 80px;
  height: 119px;
  margin-right: 16px;
}
.img:hover{
  
  transform: scale(1.1);
  box-shadow: 0 0 15px rgb(130, 128, 131);
  
}

.name {
  padding-left: 31px;
  font-size: 20px;
  font-weight: 400;
  color: lightgrey;
  
}
.bi-search {
  position: absolute;
  left: 501px;
  top: 45px;
}
.card {
  max-width: 200px;
  width: 200px;
  max-height: 300px;
  height: 300px;
  border-radius: 20px;
}

.container {
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px;
  row-gap: 40px;
  column-gap: 36px;
  padding-left: 5px;
  width: 100%;
    overflow: auto;
}
.card:hover {
  border: 1px solid rgb(101, 101, 101);
  box-shadow: 0 0 15px rgb(130, 128, 131);

}
.text {
  font-size: 18px;
  font-weight: 500;
}
.subtext {
  color: grey;
}
.body {
  padding: 30px;
}
a {
  color: blueviolet;
  text-decoration: none;
}
.dailog {
  background-color: rgba(0, 0, 0, 0.268);
}
.form {
  background-color: aliceblue;
}
.menu{
      border: none;
        background-color: white;
        font-size: x-large;
        font-weight: 500;
}
.scroll-to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  opacity: 1;
  transition: all .2s ease-in-out;
  cursor: pointer;
  border: 1px solid lightgrey;
    /* position: relative; */
    padding-right: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

 }

.mat-icon{
  -webkit-user-select: none;
  user-select: none;
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 26px;
  width: 29px;
  overflow: hidden;
  font-size: 35px;
}

@media (min-width: 481px) and (max-width: 767px) {
  
  /* CSS */
  .body{
    /* border: 2px solid red; */

  }
  .brand{
    font-size: 31px;
    font-weight: 900;
    margin-top: -7px;}
    .input {
      width: 322px;
      height: 47px;
      border-radius: 29px;
      padding-left: 20px;}
  
}

@media (min-width: 700px) and (max-width: 800px) {
  
  .body{
    border: 2px solid blue;
  }
  .input {
    width: 338px;
    height: 47px;
    border-radius: 29px;
    padding-left: 20px;
}
.nav{
  display: flex;

  gap: 23px;
}
.dish {
  margin-top: 6px;
  margin-left: 15px;
  display: flex;
  flex-direction: row;
  column-gap: 11px;
  overflow-x: auto;
  padding: 5px;
  height: 150px;
  width: 100%;
  overflow: auto;
}
.img {
  width: 75px;
  height: 75px;
  border-radius: 64px;
  margin-left: 2px;
  margin-top: 2px;
}

.images {
  padding-right: 17px;
  width: 75px;
  border-radius: 80px;
  height: 75px;
  margin-right: 0px;
}
.name {
  padding-left: 12px;
  font-size: 20px;
  font-weight: 400;
  color: lightgrey;
}
.text-content {
  font-size: 27px;
  font-weight: 200;
  margin-left: 36px;
  padding-bottom: 10px;
}
.card {
  max-width: 150px;
  width: 150px;
  max-height: 215px;
  height: 215px;
  border-radius: 20px;
}
.imgcard img{
  width: 150px;
  height: 150px;
}
.container{
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  row-gap: 16px;
  column-gap: 0px;
  padding-left: 5px;
  width: 100%;
  overflow: auto;
}
.text{
  font-size: 14px;
  font-weight: 500;
}
.subtext{
  position: relative;
  top: -6px;
  left: 2px;
  font-size: 10px;
}
  
}
@media (max-width :481px) {
  
  .body{
    border: 2px solid pink;
  }
  .brand{
     font-size: 16px;
      font-weight: 900;
      margin-top: -7px;
  
  }
  .inpsearch {
    position: relative;
    top: -4px;
}
  .input {
    width: 107px;
    height: 23px;
    border-radius: 29px;
    padding-left: 20px;
}
.userdetails{
  position: relative;
  top: -11px;
}
.userdetails button{
 padding: 0px;
 font-size: 14px;
}
.inpsearch{
  position: relative;
    top: -4px;
}
.nav{
  display: flex;

}

.dish {
margin: 0px;
  display: flex;
  flex-direction: row;
  column-gap: 2px;
  overflow-x: auto;
  padding: 5px;
  height: 80px;
  width: 100%;
  overflow: auto;
}
.img {
  width: 50px;
  height: 50px;
  border-radius: 64px;
  margin-left: 2px;
  margin-top: 2px;
}

.images {
  padding-right: 17px;
  width: 50px;
  border-radius: 80px;
  height: 50px;
  margin-right: 0px;
}
.name {
  padding-left: 12px;
  font-size: 11px;
  font-weight: 400;
  color: lightgrey;
}
.text-content {
  font-size: 16px;
  font-weight: 200;
  margin-left: 5px;
  padding-bottom: 10px;
}
.card {
  max-width: 130px;
  width: 130px;
  max-height: 215px;
  height: 215px;
  border-radius: 20px;
}
.imgcard img{
  width: 130px;
  height: 130px;
}
.container{
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: 155px 155px 155px 155px;
  row-gap: 16px;
  column-gap: 0px;
  padding-left: 5px;
  width: 100%;
  overflow: auto;
}
  ::placeholder {
 font-size:10px;
}
.text{
  font-size: 14px;
  font-weight: 500;
}
.subtext{
  position: relative;
  top: -6px;
  left: 2px;
  font-size: 10px;
}
  
}


